<div class="container justify-content-start p-2">
  <div class="row m-2">
    <div class="col-2">
  </div>
  <div class="col-8">
    <p class="text-center p-0 m-0">
    <%# <div class="add-button"> %>
      <%= link_to "Add a new ðŸ¸", new_cocktail_path, class: 'btn btn-light' %>
    <%# </div> %>
    </p>
  </div>
</div>



<div class="container-index justify-content-center mt-3">
    <%= form_tag cocktails_path, class: "search-tab",  method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-field justify-content-center",
        placeholder: "Search by a cocktail name"%>
      <%= button_tag :submit, class: "create-button p-1" do %>
        <i class="fas fa-search"></i>
      <% end %>
    <% end %>
  </div>
</div>

    <%# <div class="add-button">
      <%= link_to "+ðŸ¸", new_cocktail_path, class: 'btn btn-light' %>
    <%# </div> %> 
    
  <div class="d-flex flex-wrap">
    <% @cocktails.each do |cocktail| %>
      <div class="col-sm-6 col-lg-3 my-3">
        <% if cocktail.photo.attached? %>
          <%= link_to cocktail_path(cocktail) do %>
            <div class="card-category" style="background-image: url('<%= cl_image_path cocktail.photo.key, height: 250 %>');">
             <%= cocktail.name %>
          <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

<%# <div class="row">
  <div class="left-button">
    <%= link_to 'ðŸ”™',root_path, class: "ml-3" %>
  <%# </div>
</div> %> 