<div class="container container-form">
  <h1>Add your fave cocktail:</h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
  <div class="buttons-div">
    <%= f.submit class:"btn btn-success" %>
  <% end %>
  <%= link_to 'Back to the list', cocktails_path, class: "btn btn-primary" %>
  </div>
</div>
