<%= link_to 'ðŸ”™', cocktails_path, class: "btn-default" %>
<div class="container">
  <div class="row justify-content-between">
   <div class="col-6 show-container">
    <h1><%= @cocktail.name %></h1>
   <div class="cocktail-img" style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 350 %>');">

  <div class="d-flex mb-3">
  <div>
    <% @cocktail.doses.each do |dose| %>
      <p> <%= dose.description %> - <%= dose.ingredient.name %> |
        <%= link_to 'Delete',
        dose_path(dose.id),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "text-info" %></p>
    <% end %>
  </div>
  </div>

    </div>
  </div>
</div>

<%= link_to 'Edit', edit_cocktail_path(@cocktail),
    class: "btn btn-warning" %>
    <%= link_to 'Add ðŸ¾', new_cocktail_dose_path(@cocktail),
    class: "btn btn-warning" %>

  <%= link_to "Delete", cocktail_path(@cocktail),
      method: :delete,
      data: { confirm: "Are you sure?" },
      class: "btn btn-warning" %>
</div>
