<div class="card-container">
<nav class="navbar navbar-expand-lg navbar-light ">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     <div class="dropdown-show">
      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Customize cocktail
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <div class="dropdown-menu-cont">
      <a class="dropdown-item" > <%= link_to "Add", new_cocktail_dose_path(@cocktail), class: "btn btn-secondary button" %></a>
      <a class="dropdown-item"> <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-secondary button" %></a>
      <a class="dropdown-item" > <%= link_to "Delete", cocktail_path(@cocktail),
          method: :delete,
          data: { confirm: "Are you sure?" },
          class: "btn btn-secondary button" %>
      </a>
     </div>
    </div>
   </div>
  </li>
</ul>
</div>
</nav>


<div class="flex-container">
<div class="row">
  <div class="left-button">
    <%= link_to '🔙',cocktails_path, class: "ml-3" %>
     <%# <i class="fas fa-chevron-left"></i> %>
  </div>
</div>



  <div class="card" style="width: 25rem;">
   <img class="card-img-top" src="<%= cl_image_path @cocktail.photo.key, height: 400 %>" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">
        <h1><strong><%= @cocktail.name.capitalize %></strong></h1>
          <% @cocktail.doses.each do |dose| %>
            <div class="ml-2">
            <p><%= dose.description %> - <%= dose.ingredient.name %> <%= link_to dose_path(dose.id),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt"></i>
              <% end %>
            </p>
          <% end %>
      </p>
    </div>
  </div>
</div>
</div>

