<div class="row">
  <div class="left-button">
    <%= link_to 'ðŸ”™', cocktails_path, class: "ml-3" %>
  </div>
</div>

<div class="d-flex flex-wrap">
  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
    <div class="card-product flex-container space-between m-3 p-3">
    <div class="cocktail-img" style="background-image: url('<%= cl_image_path @cocktail.photo.key, height: 250 %>');">
       <h1><%= @cocktail.name.capitalize %></h1>
            <% @cocktail.doses.each do |dose| %>
             <div class="ml-2">
             <p><%= dose.description %> - <%= dose.ingredient.name %> <%= link_to dose_path(dose.id),
              method: :delete,
              data: { confirm: "Are you sure?" } do %>
             <i class="far fa-trash-alt"></i>
              <% end %></p>
              <% end %>
            </div>
          </div>
    </div>


</div>

<div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Customize cocktail
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item"> <%= link_to "EditðŸ¾", edit_cocktail_path(@cocktail), class: "btn btn-secondary" %></a>
    <a class="dropdown-item" > <%= link_to "AddðŸ¾", new_cocktail_dose_path(@cocktail), class: "btn btn-secondary" %></a>
    <a class="dropdown-item" > <%= link_to "Delete", cocktail_path(@cocktail),
        method: :delete,
        data: { confirm: "Are you sure?" },
        class: "btn btn-secondary" %></a>
  </div>
</div>

